spring:
  security:
    user:
      name: user
      password: password #PasswordEncoder.encode(password)
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/spring_order
    username: root
    password: 1234
  jpa:
    databases: mysql
    database-platform: org.hibernate.dialect.MariaDBDialect
    generate-ddl: true
    hibernate:
      ddl-auto: create
    show-sql: true
jwt:
  expiration: 30 #30ë¶„
  secretKey: mysecret